@import 'core/vars';
@import 'transitions/core';

.Socials {

  margin: 2rem 0;

  &__icon {
    margin: 0 1rem;
  }

  a, a:visited {
    font-size: 1.6em;
    color: $text-color;
    text-decoration: none;
    transition: $color-transition;

    &:hover, &:focus {
      color: $secondary-color;
    }
  }
}