@import 'core/vars';
@import 'transitions/slideIn';
@import 'transitions/opacity';
@import 'fonts/Lato';
@import 'fonts/PlayfairDisplay';
@import 'common/table.scss';
@import 'common/page-item.scss';
@import 'common/layout.scss';
@import 'common/typeography.scss';
@import 'common/page.scss';
@import 'mixins/border-color.scss';

#root {
  margin: 0;
}

#root, input {
  margin: 0;
}

body {
  overflow: hidden;
}

html, body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

