@import 'core/vars';

.CtaButton {
  height: 44px;
  padding: 0 1rem;
  border: $color-accent 2px solid;
  font-weight: bold;
  cursor: pointer;
  background-color: $bg-color;
  transition: border-color .2s linear;

  &:hover, &focus {
    border-color: #f2f2f2;
  }
}