@font-face {
  font-family: 'SourceSansPRo';
  src: url("../../assets/fonts/SourceSansPRo-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPRo';
  src: url("../../assets/fonts/SourceSansPRo-Italic.ttf");
  font-weight: 400;
  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPRo';
  src: url("../../assets/fonts/SourceSansPRo-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPRo';
  src: url("../../assets/fonts/SourceSansPRo-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



