@import 'core/vars';

.Timeline {

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }

  &__event {
    margin-bottom: 2rem;
    background-color: $color-accent;
    padding: 2rem;
    text-align: left;
    max-width: 600px;

    @media screen and (max-width: $mobile-threshold) {
      * {
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    h5 {
      margin-top: 0;
      margin-bottom: .5rem;
      font-size: 1.6em;
    }

    h6 {
      margin: 0;
      letter-spacing: 1px;
      font-size: 1em;
      text-transform: uppercase;
      opacity: .8;
    }

    p {
      margin-top: 1rem;
    }


    img {
      margin-left: 2rem;
      height: 40px;
      opacity: .6;

      @media screen and (max-width: $mobile-threshold) {
        width: 0;
        height: 0;
        visibility: hidden;


      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $mobile-threshold) {
        flex-direction: column;
        > div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    &__timeframe {
      font-size: 1em;
    }
  }

}