@import 'core/vars';

.Timeline {

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: calc(100% - 2rem);
    max-width: calc(100vw - 2rem);
    padding: 1rem;
  }

  &__event {
    margin-bottom: 2rem;
    background-color: $color-accent;
    padding: 2rem;
    text-align: left;
    max-width: 600px;

    h5 {
      margin-top: 0;
      margin-bottom: .5rem;
      font-size: 1.6em;
    }

    h6 {
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: .8;
    }

    p {
      margin-top: 1rem;
    }

    img {
      margin-left: 2rem;
      height: 40px;
      opacity: .6;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}