@import 'core/vars';

.Home {
  justify-content: center;
  padding-top: 4rem;

  &__img-container {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: $text-color 5px solid;
    }
  }

  h1 {
    font-size: 4em;
    font-weight: 400;
    margin: 2rem 0;
  }

  h6 {
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    max-width: 600px;
    margin: 2rem;
  }
}