@import 'core/vars';

.Contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  > * {
    display: block;
  }

  .CtaButton {
    margin-top: 2rem;
  }
}